<%- include("partials/header.ejs") %>
  <ul class="titles">
    <% apiData.forEach(function(item) { %>
      <div class="collection-container">
      <li class="thumb-title"><%= item.strDrink %></li>
  <form action="/cocktail" method="POST">
      <input type="hidden" name="idDrink" value="<%= item.idDrink %>" />
      <input type="image" src="<%= item.strDrinkThumb %>" alt="submit" />
  </form>
      </div>
    <% }) %>
  </ul>
  <script src="index.js"></script>
</body>
</html>