<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Cocktail Recepts</title>
</head>
<body>
  <h1>Cocktail Recepts</h1>
  <div class="search-container">
  <form action="/searchN" method="POST">
    <input type="text" name="cocktailName" placeholder="Name">
    <input type="submit" value="search">
  </form>
  <form action="/random" method="POST">
    <input type="submit" value="random">
  </form>
  </div>
  <ul class="titles">
    <% apiData.forEach(function(item) { %>
      <div class="collection-container">
      <li class="thumb-title"><%= item.strDrink %></li>
  <form action="/cocktail" method="POST">
      <input type="hidden" name="idDrink" value="<%= item.idDrink %>" />
      <input type="image" src="<%= item.strDrinkThumb %>" alt="submit" />
  </form>
      </div>
    <% }) %>
  </ul>
  <script src="index.js"></script>
</body>
</html>