html {
    font-family: "Playfair";
}

.thumb {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titles {
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    list-style-type: none;
    gap: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-image {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.collection-container {
    text-align: center; 
    margin: 20px auto;  
    width: 200px;       
}

.collection-container input {
    max-width: 100%;   
    height: auto;      
    display: block;   
    margin: 0 auto;    
}

.thumb-title {
    font-size: 18px;
    margin: 10px 0;    
}

.solo-container {
    display: grid;
    grid-template: 70px 1fr / repeat(2, 1fr); 
}

.picture {
    display: grid;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
}

.ingredients p {
    margin: 5px 0; 
}

p {
    font-size: 24px;
}

li {
    font-size: 24px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}